coverage==4.5.4
Django==2.2.5
django-appconf==1.0.3
django-debug-toolbar==2.0
django-easy-select2==1.5.6
django-geojson==2.12.0
django-jenkins==0.110.0
django-js-asset==1.2.2
django-leaflet==0.24.0
django-mptt==0.10.0
django-redis==4.10.0
django-widget-tweaks==1.4.5
gunicorn==19.9.0
jsonfield==2.0.2
pep8==1.7.1
psycopg2-binary==2.8.3
pyflakes==2.1.1
pylint==2.3.1
pylint-django==2.0.11
pylint-plugin-utils==0.5
requests==2.22.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
