beautifulsoup4==4.13.4
celery==5.5.3
Django==5.2.3
django-allauth==65.9.0
django-appconf==1.1.0
django-easy-select2==1.5.8
django-geojson==4.2.0
django-import-export==4.3.8
django-jsonfield==1.4.1
django-js-asset==3.1.2
django-leaflet==0.32.0
django-mptt==0.17.0
django-redis==6.0.0
django-widget-tweaks==1.5.0
jsonfield==3.1.0
jwt==1.4.0
gunicorn==23.0.0
psycopg2-binary==2.9.10
requests==2.32.4
