beautifulsoup4==4.8.2
celery==4.4.2
Django==3.0.4
django-appconf==1.0.4
django-celery==3.3.1
django-easy-select2==1.5.6
django-geojson==3.0.0
django-jsonfield==1.4.0
django-js-asset==1.2.2
django-leaflet==0.26.0
django-mptt==0.11.0
django-redis==4.11.0
django-widget-tweaks==1.4.8
jsonfield==3.1.0
gunicorn==20.0.4
psycopg2-binary==2.8.4
requests==2.23.0
social-auth-app-django==3.1.0
social-auth-core==3.3.2

anyjson==0.3.3
