coverage==7.6.1
django-debug-toolbar==4.4.6
django-debug-toolbar-line-profiling==0.8.1
-e git+https://github.com/mikekeda/django-jenkins.git#egg=django-jenkins
pep8==1.7.1
pyflakes==3.2.0
pylint==3.2.6
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
