coverage==6.4.1
django-debug-toolbar==3.4.0
django-debug-toolbar-line-profiling==0.7.3
-e git+https://github.com/mikekeda/django-jenkins.git#egg=django-jenkins
pep8==1.7.1
pyflakes==2.4.0
pylint==2.14.1
pylint-django==2.5.3
pylint-plugin-utils==0.7
