{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Permission Denied" %}{% endblock title %}

{% block css %}
<style>
    .nb-error {
        margin: 0 auto;
        max-width: 480px;
        padding: 60px 0;
        text-align: center;
    }

    .nb-error .error-code {
        color: #2d353c;
        font-size: 96px;
        line-height: 100px;
    }

    .nb-error .error-desc {
        color: #647788;
        font-size: 12px;
        margin-top: 20px;
    }
    .bg-white {
        background-color: white;
    }
</style>
{% endblock css %}

{% block content %}
  <div class="jumbotron bg-white">
      <div class="nb-error">
          <div class="error-code">404</div>
          <h3 class="font-bold">{% trans "Permission Denied." %}</h3>

          <div class="error-desc">
              <p>{% trans "You do not have permission to retrieve the URL or link you requested." %}</p>
          </div>
      </div>
  </div>
{% endblock content %}
