{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Page not found" %}{% endblock title %}

{% block css %}
<style>
    .nb-error {
        margin: 0 auto;
        max-width: 480px;
        padding: 60px 0;
        text-align: center;
    }

    .nb-error .error-code {
        color: #2d353c;
        font-size: 96px;
        line-height: 100px;
    }

    .nb-error .error-desc {
        color: #647788;
        font-size: 12px;
        margin-top: 20px;
    }
    .bg-white {
        background-color: white;
    }
</style>
{% endblock css %}

{% block content %}
  <div class="jumbotron bg-white">
      <div class="nb-error">
          <div class="error-code">500</div>
          <h3 class="font-bold">{% trans "Sorry, it's me, not you." %}</h3>

          <div class="error-desc">
              <p>{% trans "Sorry, we have some problems with parsing COVID-19 data for Ukraine." %}</p>
              <p>{% trans "Try refreshing the page." %}</p>
          </div>
      </div>
  </div>
{% endblock content %}
