{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "About us" %}{% endblock title %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="mb-4"><wbr>{% trans "About us" %}</h1>
            <p>{% trans "With this site you can build statistic interactive webmaps." %}</p>
            <p>{% trans "Link to the repository:" %} <a href="https://bitbucket.org/voron-raven/maps">https://bitbucket.org/voron-raven/maps</a></p>
            <p>{% trans "Site owner:" %} <a href="https://www.linkedin.com/in/mykhailokeda/">Mykhailo Keda</a></p>
        </div>
    </div>
{% endblock content %}
