<!doctype html>
{% load static from staticfiles %}
{% load leaflet_tags %}
{% load i18n %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABoklEQVR42n3TSyhmYRzH8fOKZKQpCwvNNGKhFBOxUFMGUVKKZqEsmCzGwm0hG80kt0TZyMKdkBjZYKTJLTaSKEozjSJq1CwsMJlJ+P7rdzje5KnPW+c8z/k9l//z+hzH2UInxvHPeWiZqMeL5/p9/NziGmfowSZqkKqP7H2xPvb2v7MUNyAPUShHjD4cwqJmC0OJX/8aut2AdIQrcFuDWvEBXzCDP/iJv3iDCJvADbBBicjHfwygA2NI8ey7FocYRr+tyA14jwJUauAgplCKY723sZcIxjxGMOkNaEGcZviBT8iWIoR4VvIVEzaJN2ADC+jCjvb7S+dh7Uar8Ol5DrnegFUE4TtO0YZlhGrMPk6QgyM0W1n9A6w8hZphSdvIsHKhGgk6Hwu9wop/QK5Kdq59zyIW64jEZ1XsLaIx7R/g6IQDkaXneDSoxEEaa2dVZwf/VIDtfVdlCtYhJmFU/R/xCr/R6wbYxWjEAV7rWtveqxCgfXepKtZeosm9SHZZKrTUb9hDGS50na88/fNa3X2/W1NraRqYjHb0OY//vk/23wHtsXwyEoeUBgAAAABJRU5ErkJggg==" rel="icon"/>
  <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'easy_select2/vendor/select2/css/select2.min.css' %}"/>
  <title>{% block title %}{% trans "Maps" %}{% endblock title %}</title>
  <meta name="description" content="{% block description %}{% trans 'Statistic interactive webmaps.' %}{% endblock description %}">
  <meta name="keywords" content="Map,Webmap,Leaflet,GeoJSON">
  <meta property="og:title" content="{% block og-title %}{% trans 'Maps' %}{% endblock og-title %}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{% block og-description %}{% trans 'Statistic interactive webmaps.' %}{% endblock og-description %}">
  {% leaflet_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}?v=9"/>
  {% block css %}{% endblock css %}
</head>
<body>
<svg class="hidden-xl-down">
  <defs>
    <symbol id="chat-icon" viewBox="0 0 14 14">
      <path d="M7,0.935c-3.866,0-7,2.463-7,5.5c0,1.438,0.703,2.749,1.854,3.729   c-0.044,0.955-0.242,2.239-0.942,2.901c1.337,0,2.706-0.88,3.518-1.514c0.796,0.248,1.663,0.384,2.57,0.384c3.866,0,7-2.463,7-5.5   S10.866,0.935,7,0.935z" fill="#006DF0"/>
    </symbol>
  </defs>
</svg>
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top hidden-print">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        {% url 'core:maps' as maps_url %}
        <li class="nav-item {% if request.get_full_path == maps_url %}active{% endif %}">
          <a class="nav-link" href="{{ maps_url }}">{% trans "Maps" %} <span class="sr-only">(current)</span></a>
        </li>
        {% url 'core:charts' as charts_url %}
        <li class="nav-item {% if request.get_full_path == charts_url %}active{% endif %}">
          <a class="nav-link" href="{{ charts_url }}">{% trans "Charts" %}</a>
        </li>
        {% url 'core:about' as about_url %}
        <li class="nav-item {% if request.get_full_path == about_url %}active{% endif %}">
          <a class="nav-link" href="{{ about_url }}">{% trans "About" %}</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-right">
        {% url 'core:polygons' as polygons_url %}
        <li class="nav-item {% if request.get_full_path == polygons_url %}active{% endif %}">
          <a class="nav-link" href="{{ polygons_url }}">
            {% trans "Available polygons" %}
          </a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Add" %}</a>
          <div class="dropdown-menu dropdown-menu-right">
            {% url 'core:add_map' as add_map_url %}
            <a class="nav-link text-muted ml-2{% if request.get_full_path == add_map_url %} active{% endif %}" href="{{ add_map_url }}">{% trans "Map" %}</a>
            <a class="nav-link text-muted ml-2" href="/admin/core/chart/add/">{% trans "Chart" %}</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
          <div class="dropdown-menu dropdown-menu-right">
            {% url 'core:user_maps' user.username as user_maps_url %}
            <a class="nav-link text-muted ml-2{% if request.get_full_path == user_maps_url %} active{% endif %}" href="{{ user_maps_url }}">{% trans "My maps" %}</a>
            {% url 'core:user_charts' user.username as user_charts_url %}
            <a class="nav-link text-muted ml-2{% if request.get_full_path == user_charts_url %} active{% endif %}" href="{{ user_charts_url }}">{% trans "My charts" %}</a>
          </div>
        </li>
        <li class="nav-item"><a href="{% url 'core:logout' %}" class="nav-link">{% trans "Logout" %}</a></li>
        {% else %}
          <li class="nav-item"><a href="{% url 'core:login' %}" class="nav-link">{% trans "Login" %}</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container-fluid mt-8">
    {% block content %}{% endblock content %}
  </div>
  <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/tether/dist/js/tether.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'easy_select2/vendor/select2/js/select2.min.js' %}"></script>
  {% leaflet_js %}
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-74402136-6', 'auto');
    ga('send', 'pageview');
  </script>
  {% block script %}{% endblock script %}
</body>
</html>
