{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "My Maps" %}{% endblock title %}

{% block content %}
  <div class="container">
      <h1 class="display-5 offset-xl-2 offset-lg-1">{% trans "Maps" %}</h1>
      {% for map in maps %}
      <div class="row">
          <div class="card card-inverse mb-3 col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12">
              <div class="card-block">
                <a href="{% url 'core:map' map.slug %}"><h4>{{ map.title }}</h4></a>
                <p class="text-muted">{{ map.description }}</p>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
{% endblock content %}
