{% extends 'base.html' %}
{% load i18n %}
{% load core_tags %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
  <div class="container mb-4">
      <h1 class="display-5 offset-xl-2 offset-lg-1"><wbr>{{ title }}</h1>
      <div class="row">
          {% if params %}
              <ul class="list-inline d-flex flex-wrap col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12 no-padding">
                  {% for key, param in params.items %}
                      <li class="list-inline-item d-flex mt-2 badge badge-default">
                          <span class="d-inline-block my-auto mx-2">{{ key }}: {{ param }}</span>
                          <a class="close" aria-label="Close" href="{% update_param request key %}">
                              <span aria-hidden="true">&times;</span>
                          </a>
                      </li>
                  {% endfor %}
              </ul>
          {% endif %}
      </div>
      {% for item in items %}
      <div class="row">
          <div class="card my-2 col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12">
              <div class="card-block">
                  {% if item_name == 'chart' %}
                    {% url 'core:chart' item.slug as item_url %}
                  {% else %}
                    {% url 'core:map' item.slug as item_url %}
                  {% endif %}
                  <a href="{{ item_url }}"><h4 class="card-title">{{ item.title }}</h4></a>
                  <p class="card-text text-muted">{{ item.description }}</p>
                  {% for category in item.categories.all %}
                      <a href="?category={{ category.slug }}" class="card-link mr-2">{{ category.title }}</a>
                  {% endfor %}
                   {% if request.user.is_superuser %}
                      <a href="/admin/core/{{ item_name }}/{{ item.pk }}/change/" class="float-right hidden-print  ml-2">{% trans "Edit" %}</a>
                  {% endif %}
                  <a href="?year={{ item.date_of_information|date:'Y' }}" class="card-link float-right ml-2">{{ item.date_of_information|date:'Y' }}</a>
                  {% if item.region %}
                    <a href="?region={{ item.region.pk }}" class="card-link float-right ml-2">{{ item.region.title }}</a>
                  {% elif item_name != 'chart' %}
                    <a href="?region=0" class="card-link float-right ml-2">{% trans "World" %}</a>
                  {% endif %}
              </div>
          </div>
      </div>
      {% endfor %}

      {% if items|length > 10 %}
          <nav aria-label="pagination" class="d-flex justify-content-center mt-4">
              <ul class="pagination">
                  <li class="page-item">
                      <a class="page-link" href="{% update_param request 'p' %}" tabindex="-1">{% trans "First" %}</a>
                  </li>
                  {% if items.has_previous %}
                  <li class="page-item">
                      <a class="page-link" href="{% update_param request 'p' items.previous_page_number %}" rel="prev">{{ items.previous_page_number }}</a>
                  </li>
                  {% endif %}
                  <li class="page-item active">
                      <a class="page-link" href="{% update_param request 'p' items.number %}">{{ items.number }} <span class="sr-only">(current)</span></a>
                  </li>
                  {% if items.has_next %}
                  <li class="page-item">
                      <a class="page-link" href="{% update_param request 'p' items.next_page_number %}" rel="next">{{ items.next_page_number }}</a>
                  </li>
                  {% endif %}
                  <li class="page-item">
                      <a class="page-link" href="{% update_param request 'p' items.paginator.num_pages %}">{% trans "Last" %}</a>
                  </li>
              </ul>
          </nav>
      {% else %}
          {% if items|length == 0 %}
              <p class="my-2 col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12">{% blocktrans %}No {{ title }}{% endblocktrans %}</p>
          {% endif %}
      {% endif %}
  </div>
{% endblock content %}
