{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans 'Login.' %}{% endblock title %}
{% block description %}{% trans 'Login or register to create your own maps and charts.' %}{% endblock description %}

{% block content %}
  <div class="container mt-6">
  <form action="{% url 'core:login' %}" method="post" class="form-horizontal">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
        <div class="col-sm-9">
        {{ field|add_class:"form-control" }}
        {% if field.errors %}
        <div class="alert alert-warning col-sm-9 offset-sm-3" role="alert">
          {{ field.errors }}
        </div>
        {% endif %}
        </div>
      </div>
    {% endfor %}
    {% if form.non_field_errors %}
      <div class="alert alert-warning col-sm-9 col-sm-offset-3" role="alert">
        {{ form.non_field_errors }}
      </div>
    {% endif %}
    <button type="submit" class="btn btn-primary float-right">{% trans "Log in" %}</button>
  </form>

  <a href="{% url 'social:begin' 'facebook' %}">{% trans "Login with Facebook" %}</a>
  </div>
{% endblock content %}
