{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load widget_tweaks %}
{% load core_tags %}

{% block title %}{% trans "Add Map" %}{% endblock title %}

{% block content %}
  <div>
      <h1 class="display-5 text-center"><wbr>{% trans "Add Map" %}</h1>
      <div class="container mb-4">
          <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12">
              <form action="{% url 'core:add_map' %}" method="post" class="clearfix">
                  {% csrf_token %}
                  {% for field in form %}
                      <div class="form-group row">
                          <label class="col-sm-3 col-form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                          <div class="col-sm-9">
                              {% if field.name == 'start_color' or field.name == 'end_color' %}
                                {{ field|add_class:"form-control jscolor" }}
                              {% else %}
                                {{ field|placeholder:field.help_text|add_class:"form-control" }}
                              {% endif %}
                          </div>
                          {% if field.errors %}
                              <div class="alert alert-warning col-sm-9 offset-sm-3" role="alert">
                                {{ field.errors }}
                              </div>
                          {% endif %}
                      </div>
                  {% endfor %}
                  <div class="form-group row">
                      <label class="col-sm-3 col-form-label" for="region-select">{% trans "Region" %}</label>
                      <div class="col-sm-9">
                          <select class="form-control" id="region-select">
                              <option value="_none">- {% trans "none" %} -</option>
                              <option value="0">{% trans "World" %}</option>
                              {% for region in regions %}
                                  <option value="{{ region.pk }}">&nbsp;&nbsp;&nbsp;&nbsp;{% for i in ""|ljust:region.level %}&nbsp;&nbsp;&nbsp;&nbsp;{% endfor %}{{ region.title }}</option>
                              {% endfor %}
                          </select>
                      </div>
                  </div>
                  <label id="data-import" class="custom-file w-100 mb-3 data-import" for="data-import-file" style="display: none;">
                      <input type="file" id="data-import-file" class="custom-file-input">
                      <span class="custom-file-control"></span>
                  </label>
                  <div id="map-elements"></div>
                  <button type="submit" class="btn btn-primary float-right">{% trans "Add Map" %}</button>
              </form>
          </div>
      </div>
  </div>
{% endblock content %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/jscolor.min.js' %}"></script>
    <script defer>
      var items;
      var reader;
      var lines;
      var parsed;
      var country;
      var data;
      var i;
      var $elements = $('#map-elements');
      var $data_import = $('#data-import');
      var $region = $('#region-select');
      var $lvl = $('#id_map-level');

      function CSVToArray(strData, strDelimiter) {
        strDelimiter = (strDelimiter || ",");
        var objPattern = new RegExp(
          (
            "(\\" + strDelimiter + "|\\r?\\n|\\r|^)" +
            "(?:\"([^\"]*(?:\"\"[^\"]*)*)\"|" +
            "([^\"\\" + strDelimiter + "\\r\\n]*))"
          ),
          "gi"
          );
        var arrData = [[]];
        var arrMatches = null;
        while (arrMatches = objPattern.exec(strData)) {
          var strMatchedDelimiter = arrMatches[1];
          var strMatchedValue;
          if (strMatchedDelimiter.length
            && strMatchedDelimiter !== strDelimiter) {
            arrData.push([]);
          }

          if (arrMatches[2]) {
            strMatchedValue = arrMatches[2].replace(
              new RegExp("\"\"", "g"),
              "\""
              );
          }
          else {
            strMatchedValue = arrMatches[3];
          }

          arrData[arrData.length - 1].push(strMatchedValue);
        }

        return(arrData);
      }

      function onChange(event) {
        reader = new FileReader();
        reader.onload = onReaderLoad;
        reader.extension = event.target.files[0].name.split('.').pop().toLowerCase();
        reader.readAsText(event.target.files[0]);
      }

      function onReaderLoad(event) {
        parsed = [];
        lines = event.target.result.split('\n');
        if (event.target.extension == 'txt') {
          for (i = 0; i < lines.length; i++) {
            country = lines[i].substring(7, 58).trim();
            if (country) {
              parsed.push([
                country,
                parseFloat(lines[i].substring(58, lines[i].length).trim().replace(/[^0-9.]/g, ''))
              ]);
            }
          }
        }
        else if (event.target.extension == 'csv') {
          for (i = 0; i < lines.length; i++) {
              if (lines[i].length) {
                data = CSVToArray(lines[i])[0];
                country = data[0].trim();
                data = data[1].trim().replace(/[^0-9.]/g, '');
                parsed.push([country, data]);
              }
          }
        }
        else {
          alert('Unsupported file extension ' + event.target.extension);
        }

        for (i = 0; i < parsed.length; i++) {
          $elements.find('[data-country="' + parsed[i][0].toLowerCase() + '"]').find('input').val(parsed[i][1]);
        }
      }

      $data_import[0].addEventListener('change', onChange);

      $('select').select2();

      function updateRegions() {
        if (!isNaN($region.val())) {
          $.getJSON( "/api/get-polygons/" + $region.val() + '?lvl=' + $lvl.val(), function(data) {
            items = [];

            $.each(JSON.parse(data.polygons), function(key, val) {
              items.push(`<div class="form-group row" data-country="` + val.title.toLowerCase() + `">
              <label class="col-sm-3 col-form-label" for="id_` + val.pk + `">` + val.title + `</label>
                <div class="col-sm-9">
                  <input type="number" step="any" name="polygon_` + val.pk + `" id="id_` + val.pk + `" class="form-control">
                </div>
              </div>`);
            });

            $elements.html(items.join(''));
            $data_import.show();
          });
        }
        else {
          $elements.html('');
          $data_import.hide();
        }
      }
      $region.change(updateRegions);
      $lvl.change(updateRegions);
    </script>
{% endblock script %}
